This notebook provides examples on how to deal with missing values using 4 different techniques: 
- Impute with zero
- Impute with mean/median/most frequent value
- Impute with K-NN or multiple imputations
- Impute with deep learning

In [ ]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
from math import sqrt

import random
import numpy as np
random.seed(0)

import pandas as pd
import missingno as msno

Preprocessing

In [ ]:
# Test dataset
dataset = fetch_california_housing()
train, target = pd.DataFrame(dataset.data), pd.DataFrame(dataset.target)
train.columns = ['0','1','2','3','4','5','6','7']
train.insert(loc=len(train.columns), column='target', value=target)

In [ ]:
#Randomly replace 40% of the first column with NaN values
column = train['0']
print(column.size)
missing_pct = int(column.size * 0.4)
i = [random.choice(range(column.shape[0])) for _ in range(missing_pct)]
column[i] = np.NaN
print(column.shape[0])

20640
20640

In [ ]:
train.head()

        0     1         2         3       4         5      6       7  target
0     NaN  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23   4.526
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22   3.585
2     NaN  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24   3.521
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25   3.413
4     NaN  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25   3.422

# Missing values

## Visualize

In [ ]:
# Visualize missing values per columns
msno.heatmap(df)

## Impute zero values

In [ ]:
train.fillna(0)

,0,1,2,3,4,5,6,7,target
0,0.0000,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,0.0000,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,0.0000,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,0.0000,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## Impute mean/median/most frequent value with Scikit

In [ ]:
# Imput mean or median function
from sklearn.impute import SimpleImputer

def imput_nan_SL(df, x): #x can be 'mean' or 'median' or 'most_frequent'
    df_corr = df.copy()
    imp_mean = SimpleImputer(strategy=x)
    mask = df_corr.columns
    df_corr[mask] = imp_mean.fit_transform(df_corr[mask])
   
    return df_corr

In [ ]:
%%time
imput_nan_SL(train,'mean')

CPU times: user 9.13 ms, sys: 2.09 ms, total: 11.2 ms
Wall time: 9.49 ms

,0,1,2,3,4,5,6,7,target
0,3.87794,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.30140,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,3.87794,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.64310,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.87794,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.56030,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.55680,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.70000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,3.87794,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.38860,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## Impute with K-NN or multiple imputations with Impyute

In [ ]:
import sys
from impyute.imputation.cs import fast_knn, mice
sys.setrecursionlimit(100000) #Increase the recursion limit of the OS

def imput_nan_knn(df,n): #x is the number of neighbors
    df_corr = df.copy()
    mask = df_corr.columns
    df_corr[mask] = fast_knn(df_corr[mask].values,n)
    
    return df_corr

In [ ]:
%%time
imput_nan_knn(train,30)

CPU times: user 7.29 s, sys: 48.3 ms, total: 7.33 s
Wall time: 7.39 s

,0,1,2,3,4,5,6,7,target
0,8.325200,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.301400,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.257400,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,3.669610,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.846200,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,3.367019,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.556800,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.700000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.867200,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,3.912313,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [ ]:
import sys
from impyute.imputation.cs import fast_knn, mice
sys.setrecursionlimit(100000) #Increase the recursion limit of the OS

def imput_nan_mice(df): #x is the number of neighbors
    df_corr = df.copy()
    mask = df_corr.columns
    df_corr[mask] = mice(df_corr[mask].values)
    
    return df_corr

In [ ]:
%%time
imput_nan_mice(train)

CPU times: user 5.77 s, sys: 71.4 ms, total: 5.84 s
Wall time: 5.65 s

,0,1,2,3,4,5,6,7,target
0,8.325200,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.301400,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.257400,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,4.925636,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.846200,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,2.083081,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.556800,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.700000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.867200,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.384761,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## Impute with deep learning

In [ ]:
mask = train.drop(columns='0').columns.values
mask

array(['1', '2', '3', '4', '5', '6', '7', 'target'], dtype=object)

In [ ]:
import datawig

def imput_nan_DL(df,col,n):
    df_corr = df.copy()
    mask = df.columns
    info = df_corr.drop(columns=col).columns.values # column(s) containing information about the column we want to impute
    output_path = 'imputer_model' # stores model data and metrics
    df_train, df_test = datawig.utils.random_split(df)
    
    imputer = datawig.SimpleImputer(info, col, output_path)
    imputer.fit(train_df=df_train[mask], num_epochs=n)
    imputed = imputer.predict(df_test[mask])
    
    return imputed

In [ ]:
%%time
imput_nan_DL(train,'0',50)

2020-01-02 11:27:30,369 [INFO]
========== start: fit model
2020-01-02 11:27:30,371 [WARNING]  Already bound, ignoring bind()
2020-01-02 11:27:30,708 [INFO]  Epoch[0] Batch [0-465]	Speed: 22384.27 samples/sec	cross-entropy=8.889659	0-accuracy=0.000000
2020-01-02 11:27:31,021 [INFO]  Epoch[0] Train-cross-entropy=9.074508
2020-01-02 11:27:31,022 [INFO]  Epoch[0] Train-0-accuracy=0.000000
2020-01-02 11:27:31,023 [INFO]  Epoch[0] Time cost=0.650
2020-01-02 11:27:31,029 [INFO]  Saved checkpoint to "imputer_model/model-0000.params"
2020-01-02 11:27:31,061 [INFO]  Epoch[0] Validation-cross-entropy=6.942389
2020-01-02 11:27:31,062 [INFO]  Epoch[0] Validation-0-accuracy=0.000000
2020-01-02 11:27:31,382 [INFO]  Epoch[1] Batch [0-465]	Speed: 23475.14 samples/sec	cross-entropy=19.875263	0-accuracy=0.000000
2020-01-02 11:27:31,700 [INFO]  Epoch[1] Train-cross-entropy=11.282785
2020-01-02 11:27:31,702 [INFO]  Epoch[1] Train-0-accuracy=0.000000
2020-01-02 11:27:31,703 [INFO]  Epoch[1] Time cost=0.640
2020-01-02 11:27:31,707 [INFO]  Saved checkpoint to "imputer_model/model-0001.params"
2020-01-02 11:27:31,738 [INFO]  Epoch[1] Validation-cross-entropy=6.775889
2020-01-02 11:27:31,739 [INFO]  Epoch[1] Validation-0-accuracy=0.000000
2020-01-02 11:27:32,054 [INFO]  Epoch[2] Batch [0-465]	Speed: 23829.13 samples/sec	cross-entropy=7.712197	0-accuracy=0.000000
2020-01-02 11:27:32,371 [INFO]  Epoch[2] Train-cross-entropy=7.804099
2020-01-02 11:27:32,373 [INFO]  Epoch[2] Train-0-accuracy=0.000000
2020-01-02 11:27:32,374 [INFO]  Epoch[2] Time cost=0.634
2020-01-02 11:27:32,378 [INFO]  Saved checkpoint to "imputer_model/model-0002.params"
2020-01-02 11:27:32,409 [INFO]  Epoch[2] Validation-cross-entropy=6.383975
2020-01-02 11:27:32,410 [INFO]  Epoch[2] Validation-0-accuracy=0.000000
2020-01-02 11:27:32,733 [INFO]  Epoch[3] Batch [0-465]	Speed: 23223.06 samples/sec	cross-entropy=8.206964	0-accuracy=0.000000
2020-01-02 11:27:33,064 [INFO]  Epoch[3] Train-cross-entropy=8.510863
2020-01-02 11:27:33,066 [INFO]  Epoch[3] Train-0-accuracy=0.000000
2020-01-02 11:27:33,067 [INFO]  Epoch[3] Time cost=0.657
2020-01-02 11:27:33,071 [INFO]  Saved checkpoint to "imputer_model/model-0003.params"
2020-01-02 11:27:33,103 [INFO]  Epoch[3] Validation-cross-entropy=6.542017
2020-01-02 11:27:33,103 [INFO]  Epoch[3] Validation-0-accuracy=0.000000
2020-01-02 11:27:33,441 [INFO]  Epoch[4] Batch [0-465]	Speed: 22177.57 samples/sec	cross-entropy=9.603390	0-accuracy=0.000000
2020-01-02 11:27:33,768 [INFO]  Epoch[4] Train-cross-entropy=11.751345
2020-01-02 11:27:33,770 [INFO]  Epoch[4] Train-0-accuracy=0.000000
2020-01-02 11:27:33,771 [INFO]  Epoch[4] Time cost=0.667
2020-01-02 11:27:33,775 [INFO]  Saved checkpoint to "imputer_model/model-0004.params"
2020-01-02 11:27:33,805 [INFO]  Epoch[4] Validation-cross-entropy=6.708131
2020-01-02 11:27:33,806 [INFO]  Epoch[4] Validation-0-accuracy=0.000000
2020-01-02 11:27:34,137 [INFO]  Epoch[5] Batch [0-465]	Speed: 22663.80 samples/sec	cross-entropy=7.763365	0-accuracy=0.000000
2020-01-02 11:27:34,456 [INFO]  Epoch[5] Train-cross-entropy=7.334024
2020-01-02 11:27:34,457 [INFO]  Epoch[5] Train-0-accuracy=0.000000
2020-01-02 11:27:34,459 [INFO]  Epoch[5] Time cost=0.652
2020-01-02 11:27:34,462 [INFO]  Saved checkpoint to "imputer_model/model-0005.params"
2020-01-02 11:27:34,494 [INFO]  Epoch[5] Validation-cross-entropy=6.390664
2020-01-02 11:27:34,495 [INFO]  Epoch[5] Validation-0-accuracy=0.000000
2020-01-02 11:27:34,831 [INFO]  Epoch[6] Batch [0-465]	Speed: 22323.31 samples/sec	cross-entropy=7.590940	0-accuracy=0.000000
2020-01-02 11:27:35,184 [INFO]  Epoch[6] Train-cross-entropy=7.732241
2020-01-02 11:27:35,185 [INFO]  Epoch[6] Train-0-accuracy=0.000000
2020-01-02 11:27:35,186 [INFO]  Epoch[6] Time cost=0.690
2020-01-02 11:27:35,190 [INFO]  Saved checkpoint to "imputer_model/model-0006.params"
2020-01-02 11:27:35,221 [INFO]  Epoch[6] Validation-cross-entropy=6.350039
2020-01-02 11:27:35,223 [INFO]  Epoch[6] Validation-0-accuracy=0.000000
2020-01-02 11:27:35,568 [INFO]  Epoch[7] Batch [0-465]	Speed: 21696.71 samples/sec	cross-entropy=8.807430	0-accuracy=0.000000
2020-01-02 11:27:35,904 [INFO]  Epoch[7] Train-cross-entropy=8.813428
2020-01-02 11:27:35,905 [INFO]  Epoch[7] Train-0-accuracy=0.000000
2020-01-02 11:27:35,906 [INFO]  Epoch[7] Time cost=0.683
2020-01-02 11:27:35,910 [INFO]  Saved checkpoint to "imputer_model/model-0007.params"
2020-01-02 11:27:35,942 [INFO]  Epoch[7] Validation-cross-entropy=6.418798
2020-01-02 11:27:35,944 [INFO]  Epoch[7] Validation-0-accuracy=0.000000
2020-01-02 11:27:36,292 [INFO]  Epoch[8] Batch [0-465]	Speed: 21535.33 samples/sec	cross-entropy=7.589979	0-accuracy=0.000000
2020-01-02 11:27:36,619 [INFO]  Epoch[8] Train-cross-entropy=7.474834
2020-01-02 11:27:36,621 [INFO]  Epoch[8] Train-0-accuracy=0.000000
2020-01-02 11:27:36,622 [INFO]  Epoch[8] Time cost=0.677
2020-01-02 11:27:36,626 [INFO]  Saved checkpoint to "imputer_model/model-0008.params"
2020-01-02 11:27:36,660 [INFO]  Epoch[8] Validation-cross-entropy=6.242844
2020-01-02 11:27:36,660 [INFO]  Epoch[8] Validation-0-accuracy=0.000000
2020-01-02 11:27:36,990 [INFO]  Epoch[9] Batch [0-465]	Speed: 22781.20 samples/sec	cross-entropy=7.653953	0-accuracy=0.000000
2020-01-02 11:27:37,324 [INFO]  Epoch[9] Train-cross-entropy=7.247007
2020-01-02 11:27:37,325 [INFO]  Epoch[9] Train-0-accuracy=0.000000
2020-01-02 11:27:37,326 [INFO]  Epoch[9] Time cost=0.664
2020-01-02 11:27:37,329 [INFO]  Saved checkpoint to "imputer_model/model-0009.params"
2020-01-02 11:27:37,363 [INFO]  Epoch[9] Validation-cross-entropy=6.127914
2020-01-02 11:27:37,364 [INFO]  Epoch[9] Validation-0-accuracy=0.000000
2020-01-02 11:27:37,681 [INFO]  Epoch[10] Batch [0-465]	Speed: 23725.53 samples/sec	cross-entropy=7.547254	0-accuracy=0.000000
2020-01-02 11:27:38,005 [INFO]  Epoch[10] Train-cross-entropy=7.306302
2020-01-02 11:27:38,006 [INFO]  Epoch[10] Train-0-accuracy=0.000000
2020-01-02 11:27:38,007 [INFO]  Epoch[10] Time cost=0.642
2020-01-02 11:27:38,012 [INFO]  Saved checkpoint to "imputer_model/model-0010.params"
2020-01-02 11:27:38,044 [INFO]  Epoch[10] Validation-cross-entropy=6.066320
2020-01-02 11:27:38,046 [INFO]  Epoch[10] Validation-0-accuracy=0.000000
2020-01-02 11:27:38,369 [INFO]  Epoch[11] Batch [0-465]	Speed: 23243.53 samples/sec	cross-entropy=8.382215	0-accuracy=0.000000
2020-01-02 11:27:38,689 [INFO]  Epoch[11] Train-cross-entropy=7.734967
2020-01-02 11:27:38,691 [INFO]  Epoch[11] Train-0-accuracy=0.000000
2020-01-02 11:27:38,692 [INFO]  Epoch[11] Time cost=0.645
2020-01-02 11:27:38,696 [INFO]  Saved checkpoint to "imputer_model/model-0011.params"
2020-01-02 11:27:38,734 [INFO]  Epoch[11] Validation-cross-entropy=6.222552
2020-01-02 11:27:38,735 [INFO]  Epoch[11] Validation-0-accuracy=0.000000
2020-01-02 11:27:39,054 [INFO]  Epoch[12] Batch [0-465]	Speed: 23637.81 samples/sec	cross-entropy=7.564524	0-accuracy=0.000000
2020-01-02 11:27:39,372 [INFO]  Epoch[12] Train-cross-entropy=7.295113
2020-01-02 11:27:39,374 [INFO]  Epoch[12] Train-0-accuracy=0.000000
2020-01-02 11:27:39,375 [INFO]  Epoch[12] Time cost=0.638
2020-01-02 11:27:39,378 [INFO]  Saved checkpoint to "imputer_model/model-0012.params"
2020-01-02 11:27:39,412 [INFO]  Epoch[12] Validation-cross-entropy=6.189260
2020-01-02 11:27:39,413 [INFO]  Epoch[12] Validation-0-accuracy=0.000000
2020-01-02 11:27:39,743 [INFO]  Epoch[13] Batch [0-465]	Speed: 22841.55 samples/sec	cross-entropy=7.783011	0-accuracy=0.000000
2020-01-02 11:27:40,068 [INFO]  Epoch[13] Train-cross-entropy=7.434492
2020-01-02 11:27:40,069 [INFO]  Epoch[13] Train-0-accuracy=0.000000
2020-01-02 11:27:40,071 [INFO]  Epoch[13] Time cost=0.657
2020-01-02 11:27:40,075 [INFO]  Saved checkpoint to "imputer_model/model-0013.params"
2020-01-02 11:27:40,108 [INFO]  Epoch[13] Validation-cross-entropy=6.116944
2020-01-02 11:27:40,110 [INFO]  Epoch[13] Validation-0-accuracy=0.000000
2020-01-02 11:27:40,479 [INFO]  Epoch[14] Batch [0-465]	Speed: 20315.78 samples/sec	cross-entropy=7.578943	0-accuracy=0.000000
2020-01-02 11:27:40,802 [INFO]  Epoch[14] Train-cross-entropy=7.231304
2020-01-02 11:27:40,803 [INFO]  Epoch[14] Train-0-accuracy=0.000000
2020-01-02 11:27:40,805 [INFO]  Epoch[14] Time cost=0.694
2020-01-02 11:27:40,808 [INFO]  Saved checkpoint to "imputer_model/model-0014.params"
2020-01-02 11:27:40,839 [INFO]  Epoch[14] Validation-cross-entropy=6.048253
2020-01-02 11:27:40,842 [INFO]  Epoch[14] Validation-0-accuracy=0.000000
2020-01-02 11:27:41,172 [INFO]  Epoch[15] Batch [0-465]	Speed: 22882.60 samples/sec	cross-entropy=7.544333	0-accuracy=0.000000
2020-01-02 11:27:41,495 [INFO]  Epoch[15] Train-cross-entropy=7.200667
2020-01-02 11:27:41,496 [INFO]  Epoch[15] Train-0-accuracy=0.000000
2020-01-02 11:27:41,498 [INFO]  Epoch[15] Time cost=0.654
2020-01-02 11:27:41,502 [INFO]  Saved checkpoint to "imputer_model/model-0015.params"
2020-01-02 11:27:41,538 [INFO]  Epoch[15] Validation-cross-entropy=6.020846
2020-01-02 11:27:41,540 [INFO]  Epoch[15] Validation-0-accuracy=0.000000
2020-01-02 11:27:41,878 [INFO]  Epoch[16] Batch [0-465]	Speed: 22438.35 samples/sec	cross-entropy=7.589375	0-accuracy=0.000000
2020-01-02 11:27:42,213 [INFO]  Epoch[16] Train-cross-entropy=7.238694
2020-01-02 11:27:42,214 [INFO]  Epoch[16] Train-0-accuracy=0.000000
2020-01-02 11:27:42,214 [INFO]  Epoch[16] Time cost=0.673
2020-01-02 11:27:42,220 [INFO]  Saved checkpoint to "imputer_model/model-0016.params"
2020-01-02 11:27:42,257 [INFO]  Epoch[16] Validation-cross-entropy=5.964240
2020-01-02 11:27:42,258 [INFO]  Epoch[16] Validation-0-accuracy=0.000000
2020-01-02 11:27:42,598 [INFO]  Epoch[17] Batch [0-465]	Speed: 22129.56 samples/sec	cross-entropy=7.546585	0-accuracy=0.000000
2020-01-02 11:27:42,963 [INFO]  Epoch[17] Train-cross-entropy=7.292646
2020-01-02 11:27:42,964 [INFO]  Epoch[17] Train-0-accuracy=0.000000
2020-01-02 11:27:42,965 [INFO]  Epoch[17] Time cost=0.705
2020-01-02 11:27:42,968 [INFO]  Saved checkpoint to "imputer_model/model-0017.params"
2020-01-02 11:27:43,000 [INFO]  Epoch[17] Validation-cross-entropy=5.997824
2020-01-02 11:27:43,002 [INFO]  Epoch[17] Validation-0-accuracy=0.000000
2020-01-02 11:27:43,358 [INFO]  Epoch[18] Batch [0-465]	Speed: 21032.58 samples/sec	cross-entropy=7.524275	0-accuracy=0.000000
2020-01-02 11:27:43,703 [INFO]  Epoch[18] Train-cross-entropy=7.175830
2020-01-02 11:27:43,704 [INFO]  Epoch[18] Train-0-accuracy=0.000000
2020-01-02 11:27:43,705 [INFO]  Epoch[18] Time cost=0.702
2020-01-02 11:27:43,710 [INFO]  Saved checkpoint to "imputer_model/model-0018.params"
2020-01-02 11:27:43,739 [INFO]  Epoch[18] Validation-cross-entropy=6.010135
2020-01-02 11:27:43,740 [INFO]  Epoch[18] Validation-0-accuracy=0.000000
2020-01-02 11:27:44,075 [INFO]  Epoch[19] Batch [0-465]	Speed: 22386.57 samples/sec	cross-entropy=7.508796	0-accuracy=0.000000
2020-01-02 11:27:44,412 [INFO]  Epoch[19] Train-cross-entropy=7.117550
2020-01-02 11:27:44,414 [INFO]  Epoch[19] Train-0-accuracy=0.000000
2020-01-02 11:27:44,415 [INFO]  Epoch[19] Time cost=0.674
2020-01-02 11:27:44,419 [INFO]  Saved checkpoint to "imputer_model/model-0019.params"
2020-01-02 11:27:44,451 [INFO]  Epoch[19] Validation-cross-entropy=5.956323
2020-01-02 11:27:44,453 [INFO]  Epoch[19] Validation-0-accuracy=0.000000
2020-01-02 11:27:44,785 [INFO]  Epoch[20] Batch [0-465]	Speed: 22605.12 samples/sec	cross-entropy=7.601989	0-accuracy=0.000000
2020-01-02 11:27:45,121 [INFO]  Epoch[20] Train-cross-entropy=7.115307
2020-01-02 11:27:45,123 [INFO]  Epoch[20] Train-0-accuracy=0.000000
2020-01-02 11:27:45,124 [INFO]  Epoch[20] Time cost=0.670
2020-01-02 11:27:45,128 [INFO]  Saved checkpoint to "imputer_model/model-0020.params"
2020-01-02 11:27:45,160 [INFO]  Epoch[20] Validation-cross-entropy=5.908208
2020-01-02 11:27:45,163 [INFO]  Epoch[20] Validation-0-accuracy=0.000000
2020-01-02 11:27:45,489 [INFO]  Epoch[21] Batch [0-465]	Speed: 23157.95 samples/sec	cross-entropy=7.500546	0-accuracy=0.000000
2020-01-02 11:27:45,803 [INFO]  Epoch[21] Train-cross-entropy=7.097833
2020-01-02 11:27:45,804 [INFO]  Epoch[21] Train-0-accuracy=0.000000
2020-01-02 11:27:45,805 [INFO]  Epoch[21] Time cost=0.640
2020-01-02 11:27:45,810 [INFO]  Saved checkpoint to "imputer_model/model-0021.params"
2020-01-02 11:27:45,841 [INFO]  Epoch[21] Validation-cross-entropy=5.925237
2020-01-02 11:27:45,842 [INFO]  Epoch[21] Validation-0-accuracy=0.000000
2020-01-02 11:27:46,192 [INFO]  Epoch[22] Batch [0-465]	Speed: 21586.55 samples/sec	cross-entropy=7.574334	0-accuracy=0.000000
2020-01-02 11:27:46,527 [INFO]  Epoch[22] Train-cross-entropy=7.131179
2020-01-02 11:27:46,528 [INFO]  Epoch[22] Train-0-accuracy=0.000000
2020-01-02 11:27:46,529 [INFO]  Epoch[22] Time cost=0.684
2020-01-02 11:27:46,533 [INFO]  Saved checkpoint to "imputer_model/model-0022.params"
2020-01-02 11:27:46,568 [INFO]  Epoch[22] Validation-cross-entropy=5.961746
2020-01-02 11:27:46,569 [INFO]  Epoch[22] Validation-0-accuracy=0.000000
2020-01-02 11:27:46,927 [INFO]  Epoch[23] Batch [0-465]	Speed: 20983.93 samples/sec	cross-entropy=7.519531	0-accuracy=0.000000
2020-01-02 11:27:47,263 [INFO]  Epoch[23] Train-cross-entropy=7.289296
2020-01-02 11:27:47,264 [INFO]  Epoch[23] Train-0-accuracy=0.000000
2020-01-02 11:27:47,265 [INFO]  Epoch[23] Time cost=0.695
2020-01-02 11:27:47,269 [INFO]  Saved checkpoint to "imputer_model/model-0023.params"
2020-01-02 11:27:47,303 [INFO]  Epoch[23] Validation-cross-entropy=5.997597
2020-01-02 11:27:47,304 [INFO]  Epoch[23] Validation-0-accuracy=0.000000
2020-01-02 11:27:47,653 [INFO]  Epoch[24] Batch [0-465]	Speed: 21589.06 samples/sec	cross-entropy=7.495358	0-accuracy=0.000000
2020-01-02 11:27:48,014 [INFO]  Epoch[24] Train-cross-entropy=7.085183
2020-01-02 11:27:48,015 [INFO]  Epoch[24] Train-0-accuracy=0.000000
2020-01-02 11:27:48,016 [INFO]  Epoch[24] Time cost=0.711
2020-01-02 11:27:48,020 [INFO]  Saved checkpoint to "imputer_model/model-0024.params"
2020-01-02 11:27:48,051 [INFO]  Epoch[24] Validation-cross-entropy=5.971286
2020-01-02 11:27:48,052 [INFO]  Epoch[24] Validation-0-accuracy=0.000000
2020-01-02 11:27:48,440 [INFO]  Epoch[25] Batch [0-465]	Speed: 19360.13 samples/sec	cross-entropy=7.476853	0-accuracy=0.000000
2020-01-02 11:27:48,822 [INFO]  Epoch[25] Train-cross-entropy=7.113904
2020-01-02 11:27:48,823 [INFO]  Epoch[25] Train-0-accuracy=0.000000
2020-01-02 11:27:48,824 [INFO]  Epoch[25] Time cost=0.772
2020-01-02 11:27:48,829 [INFO]  Saved checkpoint to "imputer_model/model-0025.params"
2020-01-02 11:27:48,859 [INFO]  No improvement detected for 5 epochs compared to 5.908207839643452 last error obtained: 6.008228971924581, stopping here
2020-01-02 11:27:48,860 [INFO]
========== done (18.49166226387024 s) fit model

CPU times: user 21.6 s, sys: 978 ms, total: 22.6 s
Wall time: 18.9 s

/Users/aureliegiraud/.virtualenvs/ebr/lib/python3.7/site-packages/datawig/imputer.py:822: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  if data_frame.columns.contains(imputation_col):

,0,1,2,3,4,5,6,7,target,0_imputed
15801,NaN,30.0,4.467954,1.062335,1935.0,1.698859,37.76,-122.44,3.86100,3.904469
1903,NaN,15.0,11.679878,1.905488,984.0,3.000000,38.91,-119.92,1.62500,4.225455
10336,7.1193,2.0,9.093750,1.093750,199.0,3.109375,33.81,-117.76,5.00001,8.412660
16077,NaN,52.0,5.495164,1.000000,1372.0,2.653772,37.74,-122.48,3.35000,4.393540
9565,NaN,11.0,4.140609,1.026233,2814.0,2.952781,37.36,-120.59,0.87300,2.592965
...,...,...,...,...,...,...,...,...,...,...
9372,NaN,37.0,5.109792,1.044510,648.0,1.922849,37.93,-122.53,3.10300,4.165971
7291,1.2059,18.0,2.537037,1.089744,1913.0,2.725071,33.98,-118.22,2.55000,2.423422
17728,5.5336,6.0,4.905336,0.965577,2160.0,3.717728,37.32,-121.79,2.41900,4.806883
7293,2.2059,35.0,2.748491,0.997988,2160.0,4.346076,33.98,-118.23,1.50000,2.346575
17673,2.6763,16.0,3.953010,1.099853,1674.0,2.458150,37.30,-121.88,1.91100,3.341121